.container {
	padding-top: 40px;
	font-family: 'Raleway', sans-serif;
}

.jumbotron {
	height: 250px;
	background-color: #68738f;
	color: white;
	box-shadow: 0px 6px 15px gray;
}

.btn {
	background-color: #68738f;
	border-color: #68738f;
	color: white;
	box-shadow: 0px 5px 10px gray;
}

.btn:hover {
	background-color: #5d6780;
	border-color: #5d6780;
}

.night-mode {
	background-color: #323232;
}

body {
	transition: background-color 300ms, ease-in-out;
}

#night-button {
	color: black;
	cursor: pointer;
	transition: 300ms, ease-in-out;
}

.night-mode-btn-style {
	background-color: white;
	border-color: black;
	color: black;
}

.night-mode-btn-style:hover{
	background-color: black;
	color: white;
	border-color: white;
}
