.jumbotron {
	height: 250px;
}

.dropdown {
	position: relative;
}

.night-mode {
	background-color: #323232;
}

body {
	transition: background-color 300ms, ease-in-out;
}

#night-button {
	color: black;
	cursor: pointer;
	transition: 300ms, ease-in-out;
}