.container {
	padding-top: 40px;
	font-family: 'Raleway', sans-serif;
}

#quote-box {
	height: 350px;
	background-color: #68738f;
	color: white;
	box-shadow: 0px 6px 10px gray;
	margin-bottom: 30px;
	padding: 60px 48px;
	border-radius: 10px;

}

h1 {
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: thin;
}

#speaker {
	font-size: x-large;
}

#quote-button {
	background-color: #68738f;
	border-color: #68738f;
	color: white;
	box-shadow: 0px 3px 8px gray;
}

#quote-button:hover {
	background-color: white;
	color: #68738f;
	border-color: #68738f;
}

#quote-button:active {
	background-color: white;
	box-shadow: 0px 0px !important;
}

#quote-button:focus {
	outline: none !important;
	background-color: white;
	border-color: #68738f;
	color: #68738f;
}

#tweet-button {
	display: none;
	background-color: white;
	color: #68738f;
}

#tweet-button:hover {
	color: white;
	background-color: #68738f;
	border-color: white;
	box-shadow: ;
}

#tweet-button:focus {
	outline: none;
}

.night-mode {
	background-color: #868fa5;
}

body {
	transition: background-color 300ms, ease-in-out;
}

#night-button {
	color: black;
	cursor: pointer;
	transition: 300ms, ease-in-out;
}

#night-mode-btn-style {
	background-color: white !important;
	border-color: #68738f !important;
	color: #68738f !important;
}

#night-mode-btn-style:focus {
	outline: none;
}

#night-mode-btn-style:hover{
	background-color: #68738f !important;
	color: white !important;
	border-color: white !important;
}
